export TODO_SERVER_PORT=
export TODO_SERVER_IDEL_TIMEOUT=
export TODO_SERVER_READ_TIMEOUT=
export TODO_SERVER_READ_TIMEOUT=
export TODO_SERVER_WRITE_TIMEOUT=
export TODO_SERVER_GRACEFUL_SHUTDOWN_TIMEOUT=
export TODO_SERVER_DEFAULT_TIMEOUT=
export TODO_SERVER_TLS=
export TODO_SERVER_CERT_FILE=''
export TODO_SERVER_KEY_FILE=''
export TODO_SERVER_TRUSTED_ORIGINS=

export TODO_MAIN_DB_DSN=
export TODO_MAIN_DB_USERNAME=
export TODO_MAIN_DB_PASSWORD=
export TODO_MAIN_DB_HOST=
export TODO_MAIN_DB_PORT=
export TODO_MAIN_DB_NAME=
export TODO_MAIN_DB_SSL_MODE=
export TODO_MAIN_DB_MAX_OPEN_CONNECTIONS=
export TODO_MAIN_DB_MAX_IDEL_CONNECTIONS=
export TODO_MAIN_DB_IDEL_TIME=
export TODO_MAIN_DB_STARTUP_TIMEOUT=
export TODO_MAIN_DB_PING_TIMEOUT=

export TODO_TOKENS_CACHE_ADDR=
export TODO_TOKENS_CACHE_PASSWORD=
export TODO_TOKENS_CACHE_DB=
export TODO_TOKENS_CACHE_TIMEOUT=

export TODO_MAIN_BROKER_ADDR=
export TODO_MAIN_BROKER_USERNAME=
export TODO_MAIN_BROKER_PASSWORD=
export TODO_MAIN_BROKER_CONNECTION_TIMEOUT=

export TODO_MAIL_SERVER_HOST=
export TODO_MAIL_SERVER_PORT=
export TODO_MAIL_SERVER_USERNAME=
export TODO_MAIL_SERVER_PASSWORD=
export TODO_MAIL_SERVER_SENDER=

export TODO_AUTHENTICATION_JWT_SECRET=
export TODO_AUTHENTICATION_JWT_EXPIRES_AFTER=

export TODO_NAME_MAX_CHARS=
export TODO_PASSWORD_HASH_COST=
export TODO_PASSWORD_MIN_CHARS=
export TODO_PASSWORD_MAX_CHARS=
export TODO_ACTIVATION_TOKEN_EXPIRES_AFTER=

export TODO_TITLE_MAX_CHARS=
export TODO_DESCRIPTION_MAX_CHARS=
export TODO_LISTS_DEFAULT_QUERY=
export TODO_LISTS_MAX_QUERY=
export TODO_TASKS_DEFAULT_QUERY=
export TODO_TASKS_MAX_QUERY=

export TODO_CONTENT_MAX_CHARS=